* {
  margin: 0px;
  padding: 0px; }

#contents {
  width: 980px;
  margin: auto; }
  #contents:after {
    content: '';
    display: block;
    clear: both; }

#side {
  width: 310px;
  float: left; }

#myCanvas {
  background-color: whitesmoke;
  cursor: crosshair;
  opacity: 0.8;
  width: 500px;
  height: 500px;
  position: absolute; }

#skin {
  z-index: -10;
  position: absolute; }

#content-canvas,
#content-tools,
#content-datlist {
  position: relative;
  height: 500px; }

#content-canvas {
  float: left;
  width: 520px;
  height: 530px; }

#content-tools {
  width: 300px;
  float: left; }

#content-datlist {
  width: 150px;
  float: left; }

#canvasBase {
  top: 10px;
  left: 10px;
  position: relative; }

.datlist {
  height: 530px;
  width: 150px; }

#colorPalet {
  width: 300px;
  height: 50px; }
  #colorPalet button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 5px; }

fieldset {
  margin: 5px;
  width: 300px;
  border: ridge 2px;
  overflow: auto; }
  fieldset label, fieldset input {
    overflow: hidden;
    display: block;
    float: left; }
  fieldset label {
    width: 35%;
    text-align: right; }
    fieldset label:after {
      content: ":";
      margin: 0 0.5em; }
  fieldset input[type="range"] {
    text-align: right;
    width: 50%; }
  fieldset input[type="text"] {
    text-align: right;
    width: 8%;
    border-style: none; }
  fieldset div:after {
    display: block;
    content: "";
    clear: both; }
  fieldset legend {
    margin: 0.7em; }

#info {
  width: 500px;
  height: 20px;
  position: absolute;
  top: 510px;
  left: 10px; }
  #info dt, #info dd, #info button {
    display: block;
    float: left; }
  #info dl {
    display: block;
    float: right; }
  #info dt:after {
    content: ':';
    margin: 0.4em; }
  #info dd {
    margin-right: 1em; }
  #info button {
    height: 18px;
    margin-right: 1.5em; }
