<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='a.css'>
    <link rel='shortcut icon' href=''>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js'></script>
    <link rel='stylesheet' href='http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css'>
    <script src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <script src='http://code.jquery.com/ui/1.9.0/jquery-ui.js'></script>
    <script src='ctrl.js'></script>
    <script src='canvas.js'></script>
    <title>Sample Creator</title>
</head>

<body ng-controller='mainCtr' >
<h3>Data creator by drawing</h3>

<div class='datframe'>
<ul class='datlist'>
    <li  ng-repeat='point in data' >
    {{point.x/50 |number:1}}, {{point.y/50|number:1}}
    </li>
</ul>
</div>

<p>num: {{data.length}}</p>
<div id='canvasWrap' ng-mosueleave>
    <canvas id='skin' width=500px height=500px ng-style=style >canvas is here.</canvas>
    <canvas id='myCanvas' width=500px height=500px ng-click=draw($event) ng-mousemove=move($event)>canvas is here.</canvas>
    <div id='colorPalet' >
        <input type='button' style='background-color:{{color}}' ng-repeat='color in colors' ng-click=changeColor(color)></button>
    </div>
    <div class='brushSetting'>
        <h3>Setting</h3>
        <p>type:<select ng-model='currentBrush' ng-options="brush for brush in brushes" ng-change=changeBrush()></select></p>
        <p>num:<input type='range' max='100' min='1' ng-model='num' ng-change='changeBrush()'>{{num}}</p>
        <p>brushWidth:<input type='range' max='100' min='1' ng-model='brushWidth' ng-change='changeBrush()'>{{brushWidth}}</p>
        <p>radius:<input type='range' max='500' min='1' ng-model='radius' ng-change='changeBrush()'>{{radius}}</p>
        <p>rotate:<input type='range' max='360' min='0' ng-model='rotate' ng-change='changeBrush()'>{{rotate}}</p>
        <p>sangl:<input type='range' max='360' min='0' ng-model='sangl' ng-change='changeBrush()'>{{sangl}}</p>
        <p>eangl:<input type='range' max='360' min='1' ng-model='eangl' ng-change='changeBrush()'>{{eangl}}</p>
        <p>scalex:<input type='range' max='100' min='1' ng-model='scalex' ng-change='changeBrush()'>{{scalex}}</p>
        <p>scaley:<input type='range' max='100' min='1' ng-model='scaley' ng-change='changeBrush()'>{{scaley}}</p>
    </div>
    <button id='copyButton'>copy</button>
    <textarea id='forcopy' placeholder='push copy button and ctrl+c'></textarea>
</div>
<input id='clearButton' type='button' value='clear (key:d)' ng-click=clear() >

<p>type:<select ng-model='currentBrush' ng-options="brush for brush in brushes" ng-change=changeBrush()></select></p>
<p>
scaleY:<input type='range' max='100' min='1' ng-model='scaley' ng-change='changeBrush()'>
<input type='text' size=3 maxlength=3 placeholder={{scaley}} ng-model=scaley>
</p>


</body>
</html>

